* {
	font-family: "Montserrat";
	font-size: 100%;
	border: 0 none;
	padding: 0;
	margin: 0;
	background-color: white;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

.bayan-container {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.meme-img-div {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meme-img {
	width: 0;
	transition-duration: 0.7s;
}

hr {
	border-top: 1px solid #444444;
}

.bayan-meme-button {
	display: none;
}

.bayan-meme-label {
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	display: flex;
	flex-direction: column;
	/* transition-duration: 0.5s;  */
}

.meme-header-text {
	font-size: 160%;
	/* color: #333333; */
	color: #179698;
}

.meme-header-icon{
	height: 5vh;
	transition: transform 0.7s;
	opacity: 0;
}

.meme-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bayan-header {
	color: #333333;
	font-size: 180%;
	/* font-size: 2vw; */
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}

.bayan-meme-label:hover{
	cursor: pointer;
}

.bayan-meme-label:hover .meme-header-icon{
	transform: rotate(135deg);
}

.bayan-container:hover .meme-header-icon{
	opacity: 1;
}

.bayan-container:hover .meme-header-text{
	color: #333333;
}

.bayan-meme-label:hover .meme-img, 
.bayan-meme-button:checked + label > .meme-img-div > .meme-img{
	height: auto; 
	/* width: 100%; */
	width: 50vh;
	max-width: 100%;
	
}

.bayan-meme-button:checked + label > .meme-img-div, 
.bayan-meme-label:hover .meme-img-div{
	height: auto;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

.bayan-meme-button:checked + label > .meme-header > .meme-header-text{
	color: #333333;
}



.bayan-meme-button:checked + label > .meme-header > .meme-header-icon-div > .meme-header-icon{
	transform: rotate(135deg);
}

@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}



