* {
	font-family: "Montserrat";
	font-size: 100%;
	border: 0 none;
	padding: 0;
	margin: 0;
	background-color: white;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

.bayan-container {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.meme-img-div {
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	height: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meme-img {
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	width: 0;
}

hr {
	border-top: 1px solid #444444;
}

.bayan-meme-button {
	display: none;
}

.bayan-meme-label {
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	display: flex;
	flex-direction: column;
}

.meme-header-text {
	font-size: 160%;
	color: #333333;
}

.meme-header-icon{
	height: 5vh;
	transition: transform 0.5s;
	opacity: 0;
}

.meme-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bayan-header {
	color: #333333;
	font-size: 180%;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}

.bayan-meme-label:hover .meme-img{
	animation-name: openAnim;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.bayan-meme-label:hover .meme-img-div{
	height: auto;
}

.bayan-meme-label:hover .meme-header-icon{
	transform: rotate(135deg);
}

.bayan-container:hover .meme-header-icon{
	opacity: 1;
}

.bayan-meme-button:checked+label::before .meme-img{
	width: 25vw;
}


@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}



